In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [34]:
df_user = pd.read_csv("data/user_book_ratings.csv")
df_book = pd.read_csv("data/books_metadata.csv")

In [35]:
df_user.head(2000)

      Unnamed: 0  user_id   book_id  rating
0              0        0   5602347       5
1              1        0        30       5
2              2        0  12528798       5
3              3        0  25026517       4
4              4        0       835       4
...          ...      ...       ...     ...
1995        1995       15  19450703       3
1996        1996       15  11143175       0
1997        1997       15   6565401       3
1998        1998       15   1063677       1
1999        1999       15  28109798       4

[2000 rows x 4 columns]

In [36]:
df_book

,book_id,title,series,author,description,genres,pages,publisher,firstPublishDate,awards,setting,coverImg
0,14796360,The Hunger Games,The Hunger Games #1,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,Scholastic Press,NaN,['Locus Award Nominee for Best Young Adult Boo...,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...
1,7743507,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,Scholastic Inc.,06/21/03,['Bram Stoker Award for Works for Young Reader...,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...
2,23390821,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",324,Harper Perennial Modern Classics,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...","['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...
3,1555826,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,"['Classics', 'Fiction', 'Romance', 'Historical...",279,Modern Library,01/28/13,[],"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...
4,28109798,The Book Thief,NaN,Markus Zusak (Goodreads Author),Librarian's note: An alternate cover edition c...,"['Historical Fiction', 'Fiction', 'Young Adult...",552,Alfred A. Knopf,09/01/05,['National Jewish Book Award for Children’s an...,"['Molching (Germany)', 'Germany']",https://i.gr-assets.com/images/S/compressed.ph...
...,...,...,...,...,...,...,...,...,...,...,...,...
26759,18652082,Undetected,Treasure Hunter Security #8,Anna Hackett (Goodreads Author),Darcy Ward has sold her soul to the devil. Oka...,"['Romance', 'Contemporary', 'Romantic Suspense...",222,NaN,NaN,[],[],https://i.gr-assets.com/images/S/compressed.ph...
26760,33852466,Nameless Fate,Fated Mate #1,Stephanie West (Goodreads Author),Harper might get an uncanny gut feeling every ...,"['Aliens', 'Science Fiction', 'Romance', 'Erot...",445,NaN,NaN,[],[],https://i.gr-assets.com/images/S/compressed.ph...
26761,270435,Heal Your Body: The Mental Causes for Physical...,NaN,Louise L. Hay,Heal Your Body is a fresh and easy step-by-ste...,"['Self Help', 'Health', 'Nonfiction', 'Spiritu...",96,Hay House,May 1st 1976,[],[],https://i.gr-assets.com/images/S/compressed.ph...
26762,11115191,Attracted to Fire,NaN,DiAnn Mills (Goodreads Author),Special Agent Meghan Connors' dream of one day...,"['Christian Fiction', 'Christian', 'Suspense',...",416,Tyndale House Publishers,September 16th 2011,['HOLT Medallion by Virginia Romance Writers N...,['West Texas (United States)'],https://i.gr-assets.com/images/S/compressed.ph...
26763,602931,Anasazi,Sense of Truth #2,Emma Michaels,"'Anasazi', sequel to 'The Thirteenth Chime' by...","['Mystery', 'Young Adult']",190,Bokheim Publishing,August 3rd 2011,[],[],https://i.gr-assets.com/images/S/compressed.ph...

In [37]:
df_users = df_user.head(2000).groupby('user_id')['book_id'].apply(list).reset_index(name='movies_list')
df_ratings = df_user.head(2000).groupby('user_id')['rating'].apply(list).reset_index(name='ratings_list')
df_ratings

    user_id                                       ratings_list
0         0  [5, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, ...
1         1  [4, 4, 0, 5, 0, 0, 5, 0, 0, 3, 0, 5, 0, 5, 5, ...
2         2  [4, 4, 3, 4, 3, 3, 3, 2, 4, 4, 5, 3, 3, 3, 4, ...
3         3  [5, 5, 4, 3, 0, 0, 5, 0, 3, 0, 0, 4, 0, 3, 0, ...
4         4  [3, 3, 5, 2, 3, 3, 4, 2, 4, 5, 4, 1, 4, 2, 2, ...
5         5  [5, 0, 3, 0, 0, 4, 5, 0, 0, 5, 2, 5, 4, 3, 4, ...
6         6  [5, 5, 5, 2, 3, 3, 3, 5, 4, 5, 4, 2, 5, 4, 4, ...
7         7  [0, 5, 0, 0, 0, 5, 5, 4, 5, 5, 3, 5, 0, 0, 0, ...
8         8  [4, 4, 2, 3, 5, 5, 4, 4, 3, 4, 4, 5, 5, 1, 5, ...
9         9  [0, 0, 0, 0, 4, 4, 3, 0, 4, 3, 0, 0, 3, 2, 0, ...
10       10                                    [0, 0, 0, 0, 0]
11       11  [4, 4, 2, 5, 0, 5, 5, 4, 5, 3, 0, 5, 0, 0, 0, ...
12       12  [2, 3, 5, 5, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 5, ...
13       13  [0, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, ...
14       14  [5, 5, 5, 5, 5, 5, 5, 0, 0, 5, 0, 5, 0, 0, 0, ...
15       15  [3, 0, 3, 3, 3, 2, 0, 4, 4, 0, 3, 0, 5, 0, 4, ...

In [38]:

def list_converter(number_list): 
    author_list = []
    for i in number_list:
        name = df_book.loc[df_book["book_id"]==i,"author"].to_string(index=False)
        author_list.append(name)
    return author_list

In [39]:
df_users["authors"]= df_users.apply(lambda row : list_converter(row["movies_list"]),axis=1)
df_users["ratings"]= df_ratings["ratings_list"]
df_users

,user_id,movies_list,authors,ratings
0,0,"[5602347, 30, 12528798, 25026517, 835, 2202194...","[Bill Bryson, J.R.R. Tolkien, Frank Herbert, N...","[5, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, ..."
1,1,"[9003477, 627206, 395614, 1730369, 91760, 2409...","[Tracy Chevalier (Goodreads Author), Betty Edw...","[4, 4, 0, 5, 0, 0, 5, 0, 0, 3, 0, 5, 0, 5, 5, ..."
2,2,"[22240073, 6666060, 1480805, 6571776, 5973095,...","[Anita Diamant (Goodreads Author), Audrey Niff...","[4, 4, 3, 4, 3, 3, 3, 2, 4, 4, 5, 3, 3, 3, 4, ..."
3,3,"[12047693, 12913723, 7029926, 6316356, 12535, ...","[Vanessa Diffenbaugh (Goodreads Author), Barba...","[5, 5, 4, 3, 0, 0, 5, 0, 3, 0, 0, 4, 0, 3, 0, ..."
4,4,"[817661, 20427793, 40075, 12986764, 10127510, ...","[Maggie O'Farrell (Goodreads Author), Daniela ...","[3, 3, 5, 2, 3, 3, 4, 2, 4, 5, 4, 1, 4, 2, 2, ..."
5,5,"[22241296, 17314155, 12075377, 15842189, 25005...","[Gillian Flynn (Goodreads Author), Cassandra C...","[5, 0, 3, 0, 0, 4, 5, 0, 0, 5, 2, 5, 4, 3, 4, ..."
6,6,"[25026517, 18242066, 27500, 5214, 15898731, 15...","[Neal Stephenson (Goodreads Author), Neil Gaim...","[5, 5, 5, 2, 3, 3, 3, 5, 4, 5, 4, 2, 5, 4, 4, ..."
7,7,"[18034501, 23842797, 25117856, 13521387, 84649...","[Liza Klaussmann (Goodreads Author), Tina Fey,...","[0, 5, 0, 0, 0, 5, 5, 4, 5, 5, 3, 5, 0, 0, 0, ..."
8,8,"[1555826, 23390821, 21366268, 16373572, 134227...","[Jane Austen, Anna Quindlen (Introduction), Ha...","[4, 4, 2, 3, 5, 5, 4, 4, 3, 4, 4, 5, 5, 1, 5, ..."
9,9,"[10644204, 13547268, 10426769, 17304168, 15947...","[Lauren Oliver (Goodreads Author), Lisa McMann...","[0, 0, 0, 0, 4, 4, 3, 0, 4, 3, 0, 0, 3, 2, 0, ..."
10,10,"[6400043, 23010073, 13517555, 3550861, 18899509]","[Nick Bruel, Rick Riordan (Goodreads Author), ...","[0, 0, 0, 0, 0]"
11,11,"[1668064, 15947905, 13350329, 12484072, 163735...","[Tim Tebow, Nathan Whitaker, John Green (Goodr...","[4, 4, 2, 5, 0, 5, 5, 4, 5, 3, 0, 5, 0, 0, 0, ..."
12,12,"[6369113, 9628743, 15947905, 170609, 12971659,...","[Laini Taylor (Goodreads Author), Jim Di Barto...","[2, 3, 5, 5, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 5, ..."
13,13,"[14610524, 999568, 23390821, 21366268, 1937368...","[Alison Weir, Stephen King (Goodreads Author),...","[0, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, ..."
14,14,"[17800990, 19009257, 29230876, 30741235, 33079...","[Charlotte Stein (Goodreads Author), Beth Kery...","[5, 5, 5, 5, 5, 5, 5, 0, 0, 5, 0, 5, 0, 0, 0, ..."
15,15,"[9926547, 633409, 1277772, 24473485, 13066640,...","[Sara Gruen (Goodreads Author), John Fowles, U...","[3, 0, 3, 3, 3, 2, 0, 4, 4, 0, 3, 0, 5, 0, 4, ..."

In [40]:
def list_combiner(authors_list, ratings_list):
    # Group the items by author.
    value_lists = defaultdict(list)
    for author, rating in zip(authors_list, ratings_list):
        value_lists[author].append(rating)

    # Take the average of each author list.
    result = {}
    for author, rating in value_lists.items():
        result[author] = sum(ratings_list) / float(len(ratings_list))
    return result
     
df_users["author_rating"]= df_users.apply(lambda row : list_combiner(row["authors"],row["ratings"]),axis=1)

    
# averages(["john","danny","john","john"],[0,5,5,5])

In [41]:
df_users

,user_id,movies_list,authors,ratings,author_rating
0,0,"[5602347, 30, 12528798, 25026517, 835, 2202194...","[Bill Bryson, J.R.R. Tolkien, Frank Herbert, N...","[5, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, ...","{'Bill Bryson': 2.3773584905660377, 'J.R.R. To..."
1,1,"[9003477, 627206, 395614, 1730369, 91760, 2409...","[Tracy Chevalier (Goodreads Author), Betty Edw...","[4, 4, 0, 5, 0, 0, 5, 0, 0, 3, 0, 5, 0, 5, 5, ...","{'Tracy Chevalier (Goodreads Author)': 3.18, '..."
2,2,"[22240073, 6666060, 1480805, 6571776, 5973095,...","[Anita Diamant (Goodreads Author), Audrey Niff...","[4, 4, 3, 4, 3, 3, 3, 2, 4, 4, 5, 3, 3, 3, 4, ...",{'Anita Diamant (Goodreads Author)': 3.4150943...
3,3,"[12047693, 12913723, 7029926, 6316356, 12535, ...","[Vanessa Diffenbaugh (Goodreads Author), Barba...","[5, 5, 4, 3, 0, 0, 5, 0, 3, 0, 0, 4, 0, 3, 0, ...",{'Vanessa Diffenbaugh (Goodreads Author)': 0.5...
4,4,"[817661, 20427793, 40075, 12986764, 10127510, ...","[Maggie O'Farrell (Goodreads Author), Daniela ...","[3, 3, 5, 2, 3, 3, 4, 2, 4, 5, 4, 1, 4, 2, 2, ...","{'Maggie O'Farrell (Goodreads Author), Daniela..."
5,5,"[22241296, 17314155, 12075377, 15842189, 25005...","[Gillian Flynn (Goodreads Author), Cassandra C...","[5, 0, 3, 0, 0, 4, 5, 0, 0, 5, 2, 5, 4, 3, 4, ...",{'Gillian Flynn (Goodreads Author)': 0.6129032...
6,6,"[25026517, 18242066, 27500, 5214, 15898731, 15...","[Neal Stephenson (Goodreads Author), Neil Gaim...","[5, 5, 5, 2, 3, 3, 3, 5, 4, 5, 4, 2, 5, 4, 4, ...",{'Neal Stephenson (Goodreads Author)': 3.75925...
7,7,"[18034501, 23842797, 25117856, 13521387, 84649...","[Liza Klaussmann (Goodreads Author), Tina Fey,...","[0, 5, 0, 0, 0, 5, 5, 4, 5, 5, 3, 5, 0, 0, 0, ...",{'Liza Klaussmann (Goodreads Author)': 0.95774...
8,8,"[1555826, 23390821, 21366268, 16373572, 134227...","[Jane Austen, Anna Quindlen (Introduction), Ha...","[4, 4, 2, 3, 5, 5, 4, 4, 3, 4, 4, 5, 5, 1, 5, ...","{'Jane Austen, Anna Quindlen (Introduction)': ..."
9,9,"[10644204, 13547268, 10426769, 17304168, 15947...","[Lauren Oliver (Goodreads Author), Lisa McMann...","[0, 0, 0, 0, 4, 4, 3, 0, 4, 3, 0, 0, 3, 2, 0, ...",{'Lauren Oliver (Goodreads Author)': 1.2777777...
10,10,"[6400043, 23010073, 13517555, 3550861, 18899509]","[Nick Bruel, Rick Riordan (Goodreads Author), ...","[0, 0, 0, 0, 0]","{'Nick Bruel': 0.0, 'Rick Riordan (Goodreads A..."
11,11,"[1668064, 15947905, 13350329, 12484072, 163735...","[Tim Tebow, Nathan Whitaker, John Green (Goodr...","[4, 4, 2, 5, 0, 5, 5, 4, 5, 3, 0, 5, 0, 0, 0, ...","{'Tim Tebow, Nathan Whitaker': 1.5136612021857..."
12,12,"[6369113, 9628743, 15947905, 170609, 12971659,...","[Laini Taylor (Goodreads Author), Jim Di Barto...","[2, 3, 5, 5, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 5, ...","{'Laini Taylor (Goodreads Author), Jim Di Bart..."
13,13,"[14610524, 999568, 23390821, 21366268, 1937368...","[Alison Weir, Stephen King (Goodreads Author),...","[0, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, ...","{'Alison Weir': 4.202247191011236, 'Stephen Ki..."
14,14,"[17800990, 19009257, 29230876, 30741235, 33079...","[Charlotte Stein (Goodreads Author), Beth Kery...","[5, 5, 5, 5, 5, 5, 5, 0, 0, 5, 0, 5, 0, 0, 0, ...",{'Charlotte Stein (Goodreads Author)': 1.33928...
15,15,"[9926547, 633409, 1277772, 24473485, 13066640,...","[Sara Gruen (Goodreads Author), John Fowles, U...","[3, 0, 3, 3, 3, 2, 0, 4, 4, 0, 3, 0, 5, 0, 4, ...",{'Sara Gruen (Goodreads Author)': 1.9387755102...

In [42]:
df = df_users.drop(columns=['authors', 'ratings'])
df

,user_id,movies_list,author_rating
0,0,"[5602347, 30, 12528798, 25026517, 835, 2202194...","{'Bill Bryson': 2.3773584905660377, 'J.R.R. To..."
1,1,"[9003477, 627206, 395614, 1730369, 91760, 2409...","{'Tracy Chevalier (Goodreads Author)': 3.18, '..."
2,2,"[22240073, 6666060, 1480805, 6571776, 5973095,...",{'Anita Diamant (Goodreads Author)': 3.4150943...
3,3,"[12047693, 12913723, 7029926, 6316356, 12535, ...",{'Vanessa Diffenbaugh (Goodreads Author)': 0.5...
4,4,"[817661, 20427793, 40075, 12986764, 10127510, ...","{'Maggie O'Farrell (Goodreads Author), Daniela..."
5,5,"[22241296, 17314155, 12075377, 15842189, 25005...",{'Gillian Flynn (Goodreads Author)': 0.6129032...
6,6,"[25026517, 18242066, 27500, 5214, 15898731, 15...",{'Neal Stephenson (Goodreads Author)': 3.75925...
7,7,"[18034501, 23842797, 25117856, 13521387, 84649...",{'Liza Klaussmann (Goodreads Author)': 0.95774...
8,8,"[1555826, 23390821, 21366268, 16373572, 134227...","{'Jane Austen, Anna Quindlen (Introduction)': ..."
9,9,"[10644204, 13547268, 10426769, 17304168, 15947...",{'Lauren Oliver (Goodreads Author)': 1.2777777...
10,10,"[6400043, 23010073, 13517555, 3550861, 18899509]","{'Nick Bruel': 0.0, 'Rick Riordan (Goodreads A..."
11,11,"[1668064, 15947905, 13350329, 12484072, 163735...","{'Tim Tebow, Nathan Whitaker': 1.5136612021857..."
12,12,"[6369113, 9628743, 15947905, 170609, 12971659,...","{'Laini Taylor (Goodreads Author), Jim Di Bart..."
13,13,"[14610524, 999568, 23390821, 21366268, 1937368...","{'Alison Weir': 4.202247191011236, 'Stephen Ki..."
14,14,"[17800990, 19009257, 29230876, 30741235, 33079...",{'Charlotte Stein (Goodreads Author)': 1.33928...
15,15,"[9926547, 633409, 1277772, 24473485, 13066640,...",{'Sara Gruen (Goodreads Author)': 1.9387755102...